@import "./../../style/Template.scss";

.table {
  padding: 40px 0;
  background-color: $beigecl;
}

table {
  width: 100%;
  border-spacing: 0;
  th {
    padding: 10px 5px;
    max-width: 200px;
    font-size: 19px;
  }
  thead {
    background-color: $violetcl;
    @include font1;
  }
  tbody {
    @include font2;
    th {
      border: 1px solid $violetcl;
      border-top: 0;
      &:not(:last-child) {
        border-right: 0;
      }
      input {
        width: 80%;
        border: 1px solid $violetcl;
        text-align: center;
        @include font2;
        font-size: 19px;
      }
    }
  }
  button {
    @include redbutton;
    padding: 5px 7px;
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
    @include font1;
    font-size: 18px;
    font-weight: 700;
    img {
      max-width: 27px;
    }
  }
}
