* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

button{
    border: none;
}