@import "../style/Template.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

button {
  border: none;
}

header {
  position: sticky;
  top: 0;
}

.active {
  text-shadow: 1px 1px 1px $redcl;
}

.error {
  border: 2px solid red;
}
