@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

$violetcl: #484283;
$beigecl: #FFF4EE;
$redcl: #F14F4F;
$redhovercl: #d23838;

@mixin font1 {
    font-family: 'Nunito';
    color: $beigecl;
}

@mixin redbutton {
    cursor: pointer;
    background-color: $redcl;
    transition: all 0.3s ease;
    &:hover{
        background-color: $redhovercl;
    }
}
