$violetcl: #484283;
$beigecl: #FFF4EE;
$redcl: #F14F4F;
$redhovercl: #d23838;

@mixin font1 {
    font-family: 'Nunito';
    color: $beigecl;
}

@mixin font2 {
    font-family: 'Nunito';
    color: #39336b;
}

@mixin redbutton {
    cursor: pointer;
    background-color: $redcl;
    transition: all 0.3s ease;
    &:hover{
        background-color: $redhovercl;
    }
}
